# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.zip

# Lambda zips
lambda/*.zip
lambda/output.json

# React
frontend/node_modules/
frontend/build/

# Mac
.DS_Store

# Python
__pycache__/
**/__pycache__/
*.pyc

# Environment
.env
*.env
frontend/.env.production
frontend/.env.local
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.DS_Store
**/.DS_Store
